<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
		<!--  Connection properties-->
			<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
			<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
			<property name="connection.username">system</property>
			<property name="connection.password">oracle</property>
			<!-- Hibernate properties -->
			<property name="show_sql">true</property>
			<property name="format_sql">true</property>
			<property name="hbm2ddl.auto">update</property>
			<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
			<!-- C3P0 Connection properties -->
			
<property name="connection.provider_class"  value="org.hibernate.connection.C3P0ConnectionProvider"/>
 <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
			
			<!-- Mapping the xml file -->
			<mapping resource="com/pratik/domain/Insurance.hbm.xml"/>
		</session-factory>
	</hibernate-configuration>
